.has-background-light {
    background-color: #f5f5f5;
}

.main-content {
    position: relative;
    width: 1300px;
    background-color: white;
    margin: auto;
    display: flex;
}

.intro-img {
    position: relative;
    width: 1300px;
    height: 100px;
    margin: auto;
    background-image: url(img/Sosanna.jpg);
    background-color: white;
}

.intro-img-text {
    position: absolute;
    top: 50px;
    left:50px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.intro-explain {
    position: relative;
    margin: auto;
    margin-top: 0px;
    width: 1300px;
    height: 100px;
    background-color: white;
    background-color:lightskyblue;
    border-left: 4px solid brown;
    text-align: center;
}

.title-p {
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
   
}

.title-d {
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}

#menu {
    display: block;
    position: relative;
    width: 300px;
    border-right: 1px solid lightblue;
}
.menu-label {
    padding-left: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color:gray;
}

.menu-link-lbl {
    text-decoration: none;
    color:black;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

li {
    padding-top: 8px;
    display:flex;
}

#news-column{
    position: relative;
    display: block;
    width: 1000px;
}

.main-content-lbl {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: orange;
    padding-top: 15px;
}

.date {
    padding-left:4px;
    padding-right:4px;
    background-color: lightseagreen;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.news-inf {
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}

.news-section-pnt {
    font-size:large;
    padding-top:15px;
}

.news-list {
    padding-top: 15px;
}

#KtS-link {
    text-decoration: none;
}